/* To style all the classes with error class do like so: 
.error{
    color: red;
} */
/* To style just one specific tag (such as p tag) with a specific class */
p.error{
    color: red;
}

p.success{
    color: green;
}
/* Looks for paragraph tags that have both of these classes */
p.success.feedback{
    border: 1px dashed green;
}
#content{
    background-color: lightgray ;
    padding: 20px;
} 
/* target specifically the p tag inside of the div tag */
div p{
    color: purple;
}
/* attribute selector */
a[href="https://www.thenetninja.co.uk"]{
    background-color: green;
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}
/* could also put just as href, or as href*="thenetninja" (it will look for anything that includes that text, if you want to specify something that ends with a specific text use href$= */